{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="mb-4">
                            <h4 class="text-primary">{{ content.field_title.0 }}</h4>
                            <h1 class="display-4 mb-4">{{ content.field_heading.0 }}</h1>
                            <p class="mb-4">{{ content.field_description.0 }}<a class="text-primary fw-bold" href="{{ content.field_link[0]['#uri'] }}"> {{ content.field_link[0]['#title'] }}</a>.
                            </p>
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="bg-white d-flex">
                                        <i class="fas fa-map-marker-alt fa-2x text-primary me-2"></i>
                                        <div>
                                            <h4>{{ content.field_address_heading.0 }}</h4>
                                            <p class="mb-0">{{ content.field_address.0 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bg-white d-flex">
                                        <i class="fas fa-envelope fa-2x text-primary me-2"></i>
                                        <div>
                                            <h4>{{ content.field_email_heading.0 }}</h4>
                                            <p class="mb-0">{{ content.field_emaill.0 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bg-white d-flex">
                                        <i class="fa fa-phone-alt fa-2x text-primary me-2"></i>
                                        <div>
                                            <h4>{{ content.field_telephone_heading.0 }}</h4>
                                            <p class="mb-0">{{ content.field_telephone.0 }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="bg-white d-flex">
                                        <i class="fab fa-firefox-browser fa-2x text-primary me-2"></i>
                                        <div>
                                            <h4>{{ content.field_website.0 }}</h4>
                                            <p class="mb-0">{{ content.field_website_contact.0 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex ms-2 mb-5">
                            <a class="btn btn-dark py-2 px-3 px-sm-4 me-2" href="{{ content.field_facebook[0]['#url'] }}"> <span>{{ content.field_facebook[0]['#title'] }}</span> <i class="fas fa-chevron-circle-right"></i></a>
                            <a class="btn btn-dark py-2 px-3 px-sm-4 mx-2" href="{{ content.field_twitter[0]['#url'] }}"> <span>{{ content.field_twitter[0]['#title'] }}</span> <i class="fas fa-chevron-circle-right"></i></a>
                            <a class="btn btn-dark py-2 px-3 px-sm-4 ms-2" href="{{ content.field_instagram[0]['#url'] }}"> <span>{{ content.field_instagram[0]['#title'] }}</span> <i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                        <div class="contact-banner">
                            <div class="row g-0">
                                <div class="col-9">
                                    <div class="p-4 pe-0">
                                        <h4 class="display-5 mb-0">{{ content.field_joining_heading.0 }}</h4>
                                        <div class="d-flex align-items-center">
                                            <a href="{{ content.field_visit_website[0]['#url'] }}" class="h5 mb-0 me-3">{{ content.field_visit_website[0]['#title'] }}</a>
                                            <a class="text-primary py-3" href="{{content.field_youtube_link[0]['#url']}}"><i class="fas fa-play-circle me-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="form-section bg-dark p-5 h-100">
                            <h1 class="display-4 text-white mb-4">Get In touch</h1>
                                {{ drupal_entity('webform', 'contact_form') }}  
                        </div>
                    </div>                    
                    <div class="col-12 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="h-100 overflow-hidden">
                            <iframe class="w-100" style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387191.33750346623!2d-73.97968099999999!3d40.6974881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1694259649153!5m2!1sen!2sbd" 
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  {% endblock %}
</div>
